<div class="content">
  <h1>Hola! Soy Frank Betancur</h1>
  <h3>Fullstack Developer</h3>

  <div class="social">
    <a class="social-icons" target="_blank" href="https://github.com/Krank2me">
      <img
        src="https://res.cloudinary.com/panda2me/image/upload/v1623539244/personal-site/iconfinder_2552219_github_logo_media_online_social_icon_y4yjdq.svg"
        alt="Github"
      >
    </a>
    <a class="social-icons" target="_blank" href="https://www.linkedin.com/in/frank-alejandro-betancur-ch-211a31a6/">
      <img
        src="https://res.cloudinary.com/panda2me/image/upload/v1623539195/personal-site/iconfinder_2552216_linkedin_logo_media_online_social_icon_pmx0cu.svg"
        alt="Linkedin"
      >
    </a>
    <a class="social-icons" target="_blank" href="https://twitter.com/KranK2Me">
      <img
        src="https://res.cloudinary.com/panda2me/image/upload/v1623539119/personal-site/iconfinder_2552208_logo_media_online_social_twiiter_icon_jzjd0x.svg"
        alt="Twitter"
      >
    </a>
    <a class="social-icons" target="_blank" href="https://www.instagram.com/elpanda2me/">
      <img
        src="https://res.cloudinary.com/panda2me/image/upload/v1623539167/personal-site/iconfinder_2552218_instagram_logo_media_online_social_icon_ajqffg.svg"
        alt="Instagram"
      >
    </a>
  </div>


</div>
