@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
}

.title {
  background-color: rgb(236, 216, 28);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat" ,sans-serif;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.picture {
  border-radius: 15px;
}

.image {
  padding: 70px 188px;
  width: 90%;
}

.resume {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Montserrat" ,sans-serif;
  font-size: 19px;
  font-weight: bolder;
  padding: 70px 300px;
  width: 100%;
}

.desc {
  width: 100%;
}

.social {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin-top: 15px;
}

.social-icons {
  display: flex;
  width:50px;
  height:50px;
  padding-left: 20px;
}

.tools-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
