<div class="container">
  <div class="title">
    <h2>About me</h2>
  </div>
  <div class="about-container">
    <div class="picture">
      <img class="image" src="https://res.cloudinary.com/panda2me/image/upload/v1623984393/personal-site/WhatsApp_Image_2021-06-17_at_9.45.54_PM_sh1xcz.jpg" alt="Panda">
    </div>
    <div class="resume">
      <div>
        <h2>Frank Betancur</h2>
      </div>
      <div class="desc">
        <p>Hola soy Frank Betancur, Fullstack Developer con conocimientos en herramientas en:</p>
      </div>
      <div class="tools-container">
        <div class="container-skills">
          <div>
            <p>Frontend</p>
            <ul>
              <li>Angular</li>
              <li>ReactJS</li>
            </ul>
          </div>
          <div>
            <p>Backend</p>
            <ul>
              <li>NodeJS</li>
              <li>Java</li>
              <li>Python</li>
            </ul>
          </div>
        </div>
        <div class="container-skills">
          <div>
            <p>Base de datos</p>
            <ul>
              <li>Oracle</li>
              <li>MySql</li>
              <li>PosgtreSQL</li>
              <li>MongoDB</li>
            </ul>
          </div>
          <div>
            <p>Cloud</p>
            <ul>
              <li>Firebase</li>
              <li>GCP</li>
              <li>AWS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
