<div class="container">
  <div class="title">
    <h2>About me</h2>
  </div>
  <div class="info">
    <div class="picture">
      <img class="image" src="https://res.cloudinary.com/panda2me/image/upload/v1623984393/personal-site/WhatsApp_Image_2021-06-17_at_9.45.54_PM_sh1xcz.jpg" alt="Panda">
    </div>
    <div class="resume">
      <div>
        <h2>Frank Betancur</h2>
      </div>
      <div class="desc">
        <p>Hola soy Frank Betancur, Fullstack Developer con conocimientos en herramientas en:</p>
        <div class="tools-container">
          <div>
            <p>Frontend</p>
            <ul>
              <li>Angular</li>
              <li>ReactJS</li>
            </ul>
            <p>Backend</p>
            <ul>
              <li>NodeJS</li>
              <li>Java</li>
              <li>Python</li>
            </ul>
          </div>
          <div>
            <p>Base de datos</p>
            <ul>
              <li>Oracle</li>
              <li>MySql</li>
              <li>PosgtreSQL</li>
              <li>MongoDB</li>
            </ul>
            <p>Cloud</p>
            <ul>
              <li>Firebase</li>
              <li>GCP</li>
              <li>AWS</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="social">
        <a class="social-icons" target="_blank" href="https://github.com/Krank2me">
          <img
            src="https://res.cloudinary.com/panda2me/image/upload/v1623539244/personal-site/iconfinder_2552219_github_logo_media_online_social_icon_y4yjdq.svg"
            alt="Github"
          >
        </a>
        <a class="social-icons" target="_blank" href="https://www.linkedin.com/in/frank-alejandro-betancur-ch-211a31a6/">
          <img
            src="https://res.cloudinary.com/panda2me/image/upload/v1623539195/personal-site/iconfinder_2552216_linkedin_logo_media_online_social_icon_pmx0cu.svg"
            alt="Linkedin"
          >
        </a>
        <a class="social-icons" target="_blank" href="https://twitter.com/KranK2Me">
          <img
            src="https://res.cloudinary.com/panda2me/image/upload/v1623539119/personal-site/iconfinder_2552208_logo_media_online_social_twiiter_icon_jzjd0x.svg"
            alt="Twitter"
          >
        </a>
        <a class="social-icons" target="_blank" href="https://www.instagram.com/elpanda2me/">
          <img
            src="https://res.cloudinary.com/panda2me/image/upload/v1623539167/personal-site/iconfinder_2552218_instagram_logo_media_online_social_icon_ajqffg.svg"
            alt="Instagram"
          >
        </a>
      </div>
    </div>
  </div>
</div>
