@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0;
  padding: 0;
  background-color: rgb(236, 216, 28);
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #363838;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
}

.logo {
  cursor: pointer;
  height: 80px;
  width: 80px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 15px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #f8f7f1;
}
